<?xml version="1.0"?>
<ECMTConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UserGuideInfo>../../Resources/UserGuideInfo.txt</UserGuideInfo>
  <EpicorAppServerRootDir>\\Srvikepic12\e\wwwepicor\EpicorERPDemo\Server\</EpicorAppServerRootDir>
  <EpicorAppServer>EpicorERPDemo</EpicorAppServer>
  <EpicorDatabase>EpicorERPDemo</EpicorDatabase>
  <EpicorClientRootDir>\\Srvikepic12\e\Epicor\ERP10\LocalClients\EpicorERPDemo\</EpicorClientRootDir>
  <ECTargetRootDir>C:\Users\ZhangH\Documents\Epicor102100\</ECTargetRootDir>
  <AutoOpen>true</AutoOpen>
  <AutoCommit>false</AutoCommit>
  <AutoDeploy>true</AutoDeploy>
  <AutoIISRecycle>false</AutoIISRecycle>
  <IISRecyclePath>IISRecycle\IISRecycle\bin\Release\IISRecycle.exe</IISRecyclePath>
  <DebugMode>true</DebugMode>
  <DeployCMD>xcopy /f /y "$(TargetPath)"</DeployCMD>
  <DeployCMD_DEBUG>xcopy / f / y "$(TargetDir)$(TargetName).pdb"</DeployCMD_DEBUG>
  <BPMConfig>
    <BPMSourceCodeDir>BPM\Sources\</BPMSourceCodeDir>
    <BPMTargetProjectDir>BPM\</BPMTargetProjectDir>
    <BPMTemplateDir>../../Resources/BPMTemplate.xml</BPMTemplateDir>
    <BPMTemplateUserDir>../../Resources/BPMTemplate.User.xml</BPMTemplateUserDir>
    <BPMProjectReferenceDirs>
      <string>Assemblies\</string>
      <string>Bin\</string>
    </BPMProjectReferenceDirs>
    <BPMProjectDebugRootDir>Customization\</BPMProjectDebugRootDir>
    <BPMAutoOpen>true</BPMAutoOpen>
    <BPMAutoCommit>false</BPMAutoCommit>
    <BPMAutoDeploy>false</BPMAutoDeploy>
    <BPMAutoIISRecycle>true</BPMAutoIISRecycle>
  </BPMConfig>
  <ELConfig>
    <ELAutoOpen>true</ELAutoOpen>
    <ELAutoCommit>false</ELAutoCommit>
    <ELAutoDeploy>true</ELAutoDeploy>
    <ELAutoIISRecycle>true</ELAutoIISRecycle>
    <ELAutoDeployDir>Customization\Externals\</ELAutoDeployDir>
    <ELEpicorAppServerAssembliesDir>Assemblies\</ELEpicorAppServerAssembliesDir>
    <ELEpicorAppServerBinDir>Bin\</ELEpicorAppServerBinDir>
    <ELCSGGenericServerProcessTemplate>GenericTemplate</ELCSGGenericServerProcessTemplate>
  </ELConfig>
  <UIConfig />
  <RPTConfig>
    <RPTTargetProjectDir>SSRS\</RPTTargetProjectDir>
    <SSRSReportingServerHost>srvikepic11</SSRSReportingServerHost>
    <SSRSWebPortal>http://srvikepic11:80/reports</SSRSWebPortal>
    <SSRSProjectTemplateDir>../../Resources/SSRSReportProjectTemplate.xml</SSRSProjectTemplateDir>
    <SSRSSharedDataSourceTemplateDir>../../Resources/SSRSReportSharedDataSourceTemplate.xml</SSRSSharedDataSourceTemplateDir>
    <SSRSEpicorReportDatabase>EpicorERPDemoReports</SSRSEpicorReportDatabase>
    <RPTAutoOpen>true</RPTAutoOpen>
    <RPTAutoDeploy>true</RPTAutoDeploy>
  </RPTConfig>
</ECMTConfig>